@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vidly</h1>
    <p class="lead">Vidly is an awesome video rental application for renting out super duper awesome movies to your valuable customers.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>
            To add, modify, or delete customers, click on the 'Customers' link.<br/>
            To add, modify, or delete movies, click on the 'Movies' link.<br/>
            To rent a movie to an existing customer, click 'New Rental'.
        </p>
    </div>
    <div class="col-md-6">
        <h2>About Vidly</h2>
        <p>This website has been created by Raman Dhatt with her amazing .NET skills!</p>
        <p><a class="btn btn-default" href="https://github.com/rkdhatt">View GitHub &raquo;</a></p>
    </div>
</div>