<appSettings>
  <add key="MailServer" value="dev-smtp.vidly.com"/>
  <!--demonstration only-->
  <add key="FacebookAppId" value ="115422849014128"/>
  <add key="FacebookAppSecret" value ="5f0237870691bbbc705aed8f0690a645"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>
